// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* change the colors */
$primary: #273a7e;
$danger: #902f37;
$warning: #f9cf00;
// $success: lime;
// $info: aqua;
