// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// start here
body {
    overflow-x: hidden;
  }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .bl-0{
    border-left: 0;
  }

  .hidden{
    display: none;
  }

  .h-24{
    height: 6rem; /* 96px */
  }

  .w-24{
    width: 6rem; /* 96px */
  }
  .w-full{width: 100%;}

  .relative	{position: relative;}

  .inline-block	{display: inline-block;}

  .rounded-full {border-radius: 9999px;}

  .object-cover	{object-fit: cover;}

  .absolute	{position: absolute;}

  .h-full{	height: 100%;}

  .bg-black	{background-color: rgb(0 0 0);}

.flex{display: flex;}

.items-center	{align-items: center;}

.justify-center	{justify-content: center;}

.bg-opacity-25 { --bg-opacity: 0.25; }

.top-0	{top: 0px;}


  .hover\:white:hover {
    // background-color: #fff;
    color: #fff;
  }

  .h-52	{height: 13rem; /* 208px */}
  .w-52	{width: 13rem; /* 208px */}

.horizontal-centered{
    display: flex;
    justify-content: center;

}
